* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
    background-color: #EC715F
}

li {
    list-style: none;
    display: inline;
}

a {
  text-decoration: none;
}

a,a:hover,a:visited{
    color: inherit;
}

.header-container {
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu {
    text-align: right;
    align-items: center;
}

.menu-title{
    font-size: 16px;
    color: #FAFAFA;
    margin: 0 30px;
}

.main-visual {
    height: 650px;
    width: 100%;
    background-image: url("img/mv.png");
    background-size: cover;
    background-position: center;
}

.main-container {
    padding: 200px 0 200px 0;
}

.main-title {
    font-size: 64px;
    color: #FAFAFA;
    margin-bottom: 10px;
    text-align: center;
}

.main-subtitle {
    font-size: 20px;
    color: #FAFAFA;
    text-align: center;
}

.portfolio {
    width: 100%;
    background-color: #ECEFF1;
    display: flex;
    justify-content: center;
}

.portfolio-container {
    width: 980px;
}

.portfolio-container {
    width: 920px;
}

.potfolio-title {
    font-size: 32px;
    font-weight: bolder;
    color: #000000;
    padding-top: 90px;
    padding-bottom: 8px;
    border-bottom: 3px solid #EC715F;
    text-align: center;
    padding: 90px 0 8px 0;
}

.portfolio-text {
    text-align: center;
    padding: 30px 0;
}

.portfolio-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

.image-box1,.image-box2,.image-box3,.image-box4,.image-box5,.image-box6 {
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.image-box1,.image-box2,.image-box4,.image-box5 {
    margin-right: 10px;
}

.image-box1,.image-box2,.image-box3{
    margin-bottom: 10px;
}

.image-box1 {
    background-image: url("img/sketch.jpg");
}

.image-box2 {
    background-image: url("img/websuku.png");
}

.image-box3 {
    background-image: url("img/write.jpg");
}

.image-box4 {
    background-image: url("img/webcamp.png");
}

.image-box5 {
    background-image: url("img/talk.jpg");
}

.image-box6 {
    background-image: url("img/webcamp-mother.png");
}

.feature {
    display: flex;
    justify-content: center;
}

.feature-title {
    font-size: 32px;
    font-weight: bolder;
    color: #000000;
    padding-top: 90px;
    padding-bottom: 8px;
    border-bottom: 3px solid #EC715F;
    text-align: center;
    padding: 90px 0 8px 0;
}

.feature-text {
    text-align: center;
    padding: 30px 0;
}

.strength-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.strength1,.strength2,.strength3 {
    width: 320px;
}

.strength1 {
    margin-right: 10px;
}

.strength2 {
    margin-right: 10px;
}

.strength1-top,.strength2-top,.strength3-top {
    text-align: center;
}

.strength1-title,.strength2-title,.strength3-title {
    font-size: 20px;
    color: #000000;
    margin: 10px 0;
    font-weight: bolder;
}

.strength1-icon,.strength2-icon,.strength3-icon {
    font-size: 60px;
}

.profile {
    width: 100%;
    background-color: #ECEFF1;
    display: flex;
    justify-content: center;
}

.profile-container {
    width: 1024px;
}

.profile-title {
    font-size: 32px;
    font-weight: bolder;
    color: #000000;
    padding-top: 90px;
    padding-bottom: 8px;
    border-bottom: 3px solid #EC715F;
    text-align: center;
    padding: 90px 0 8px 0;
}

.profile-text {
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 30px 0;
}

.profile-content {
    display: flex;
    margin-bottom: 90px;
    margin-top: 30px;
}

.profile-image {
    width: 512px;
}

.image {
    background-image: url("img/my-icon.jpg");
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-content-text {
    width: 512px;
}

.myname,.myskills {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;  
}

.profile-myname {
    margin-bottom: 20px;   
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 800px;
    margin-bottom: 90px;
}

.contact-title {
    font-size: 32px;
    font-weight: bolder;
    color: #000000;
    padding-top: 90px;
    padding-bottom: 8px;
    border-bottom: 3px solid #EC715F;
    text-align: center;
    padding: 90px 0 8px 0;
}

.contact-text {
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 30px 0;
}

.contact-content {
    display: flex;
    width: 800px;
}

.mail-tel {
    width: 130px;
    margin: 0 auto;
} 

.mail,.tel,.sns {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 5px;
}

.mail-address {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: underline;
}

.tel-number {
    text-decoration: underline;
}

.sns-icon {
    width: 180px;
    margin: 0 auto;
}

.fab {
    font-size: 50px;
}

.fa-facebook-f,.fa-twitter {
    margin-right: 20px;
}

footer {
    background-color: red;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #FAFAFA;
    font-size: 16px;
}
